.two-griding{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    background-color: rgb(236, 229, 229);
    min-height: 500px;
    padding: 40px;
}

.griding1{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../../assets/background2.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.griding2{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../../assets/background3.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}
